.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.spinner-logo {
  width: 160px;
  height: 160px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
